.home-container {
    display: flexbox;
}

.welcome-div {
    margin: 5rem auto auto auto;
    width: 30rem;
    text-align: center;
}

.name-div {
    margin: auto;
    width: 20rem;
    text-align: center;
}