.profile-container {
    display: flexbox;
}

.profile-body {
    margin: 5rem auto auto auto;
    width: 30rem;
    text-align: center;
}

.profile-picture {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.description {
    resize: none;
}
