backend/HELP.md
backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
frontend/seqarc/.idea
### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/

#Database-related stuff
backend/database

### VS Code ###
**/.vscode/

# dependencies
frontend/seqarc/node_modules

# testing
frontend/seqarc/coverage

# production
frontend/seqarc/build

# misc
frontend/seqarc/.DS_Store
frontend/seqarc/.env.local
frontend/seqarc/.env.development.local
frontend/seqarc/.env.test.local
frontend/seqarc/.env.production.local
frontend/seqarc/npm.debug

frontend/seqarc/npm-debug.log*
frontend/seqarc/yarn-debug.log*
frontend/seqarc/yarn-error.log* 

# dependencies
frontend/seqarc/.pnp
frontend/seqarc/.pnp.js
npm-debug.log

# Dev-Files
**/samples/*
**/profilepictures/*
