.toolbar {
    position: fixed;
    width: 100%;
    height: 4vh;
    top: 0;
    left: 0;
    background: rgb(77, 160, 185);
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;

}

.toolbar_navigation_items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.toolbar_navigation_items li {
    padding: 0 0.5rem;
}

.main {
    margin-top: 4vh;
}

.toolbar_navigation_items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation_items a:hover {
    color: yellow;
}

.toolbar_navigation_items a:active {
    color: green;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2rem;
}

.infinity {
    margin-left: 5px;
}

.spacer {
    flex: 1;
}