.sequencer {

}

/* CSS for Workstation.js*/

.container {
    background-color: black;
    height: 96vh;
    display: flex;
    flex-direction: column;
}

.split-pane-vertical {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.split-pane-horizontal {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sample-browser-section {
    width: 20%;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.instrument-section {
    /*height: calc(100%-20rem);*/
    flex-grow: 1;
    overflow-y: auto;
    margin: 0 5px 0 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.instrument-section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.instrument-section {
    -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mixer-section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.mixer-section {
    -ms-overflow-style: none;
}

.mixer-section {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    min-height: 22rem;
    max-height: 22rem;
    /*padding: 0px 0px 10px 0px;*/
    color: dimgrey;
    background: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}


/* CSS for Instrument.js */

.instrument-container {
    color: dimgrey;
    /*background-color: #282c34;*/
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 6px auto auto auto;
    height: 5rem;
    display: flex;
}

.instr-header {
    display: flex;
    padding: 10px;
}

.trigger-button {
    display: flex;
    width: 3.3rem;
    height: 3.3rem;
    margin: auto;
    border-radius: 5px;
    background: #8cb3d9;
    box-shadow: inset #006 0 -1px 9px, rgba(63, 140, 255, 0.2) 0 2px 14px;
    cursor: pointer;
}

.trigger-button:active {
    background: #538cc6;
}

.instr-number {
    margin: auto;
    font-size: 2rem;
    color: black;
}

.instr-name {
    width: 6rem;
    margin: auto auto auto 5px;
    background: none;
    border: none;
    font-size: 1rem;
    color: #4e5565;
}

.edit-sample-button {
    color: dimgray;
    margin: auto;
    cursor: pointer;
}

.edit-sample-button-off {
    color: dimgray
}

.edit-sample-button-on {
    color: #66ff66;
    filter: drop-shadow(0 0 7px rgba(102, 255, 102, 1))
}

.edit-sample-button:active {
    color: #404040;
    filter: drop-shadow(0 0 5px rgba(102, 255, 102, 0))
}

.instrument-icons {
    display: flex;
    flex-direction: column;
}

.delete-instrument {
    margin: auto;
    color: dimgray;
    font-size: 1.2rem;
    cursor: pointer;
}

.delete-instrument:active {
    color: #404040;
}

/* CSS for step */

.steps {
    display: flex;
    width: 100%;
}

.step {
    width: 6%;
    border-style: solid;
    border-width: 2px;
    background-color: #16181d;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.on-beat {
    background-color: #373c49;
}

.step:active {
    /*background: black;*/
}

.note-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    min-width: 4rem;
    padding: 0 2px 2px 2px;
    background: black;
    border-radius: 5px;
    /*color: #4e5565;*/
}

.note-value {
    font-size: 1.5rem;
    padding: 2px;
    color: #4e5565;
}

.note-change-container {
    margin: auto 2px auto auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.led-container {
    width: 100%;
    display: flex;
    padding-top: 3px;
}

.led-on {
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #b3f5ff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgba(63, 140, 255, 0.75) 0 2px 14px;
}

.led-off {
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #999999 /*#009bb3*/;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -1px 7px 1px, inset #000000 0 -1px 9px;
}

.led-active {
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #99ff99;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -1px 7px 1px, inset #001a00 0 -1px 9px, rgba(77, 255, 77, 0.5) 0 2px 12px;
}

.led-trigger {
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #ff4d4d;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -1px 7px 1px, inset #000000 0 -1px 9px, rgba(255, 0, 4, 0.5) 0 2px 12px;
}

.plus {
    color: dimgray;
    font-size: 3rem;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
}

.plus:active {
    color: #4d4d4d;
}

/* CSS for SampleBrowser.js */

.sample-browser-container {
    height: 100%;
    color: #21242c;
    background-color: #0b0c0f;
    display: flex;
    flex-direction: column;
}

.browser-footer {
    margin-bottom: 0;
    background: #16181d;
    /*height: 2.5rem;*/
    display: flex;
}

.browser-footer-buttons {
    display: flex;
    padding: 0.5rem;
}

.browser-footer-button {
    margin: auto auto auto 10px;
    color: dimgray;
    background: #21242c;
    font-size: 1rem;
    padding: 3px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.browser-footer-button:active {
    background: #0b0c0f;
    color: #4d4d4d;
    box-shadow: none;
}

.audition-icon {
    margin: auto 10px auto auto;
    cursor: pointer;
}

.audition-on {
    color: #66ff66;
    filter: drop-shadow(0 0 5px rgba(102, 255, 102, 0.8))
}

.audition-off {
    /*color: #0b0c0f;*/
    color: dimgray;
    /*color: black;*/
}

.audition-vol {
    display: flex;
    width: 10rem;
}

.volume-icon {
    margin: auto;
    color: dimgray;
    cursor: pointer;
}

.vol-ticks {
    display: flex;
    justify-content: space-evenly;
}

.vol-tick {
    margin: auto 5px;
    width: 6px;
    border-radius: 3px;
}

.vol-tick-on {
    background: dimgray;
}

.vol-tick-off {
    background-color: #0b0c0f;
}

.vol-tick-0 {
    height: 6px;
}

.vol-tick-1 {
    height: 9px;
}

.vol-tick-2 {
    height: 12px;
}

.vol-tick-3 {
    height: 15px;
}

.vol-tick-4 {
    height: 18px;
}

.filter {
    padding-top: 8px;
    color: dimgrey;
    background: #21242c;
    background: linear-gradient(180deg, rgba(11, 12, 15, 1) 0%, rgba(22, 24, 29, 1) 30%, rgba(33, 36, 44, 1) 100%);
    /*background: #16181d;*/
}

.search {
    margin: 10px 0 5px 10px;
    padding: 5px 2px;
    width: 16rem;
    font-size: 1.2rem;
    border-radius: 25px;
    color: dimgray;
    background: #cccccc;
    background: linear-gradient(to bottom, #0b0c0f 25%, black 100%);
    display: flex;
}

.search-icon {
    padding: 3px 8px;
    font-size: 1rem;
}

.search-field {
    width: 12rem;
    background: none;
    border: none;
    /*color: #0b0c0f;*/
    color: #bfbfbf;
    font-size: 1rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.category {
    padding: 2px 15px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.category:active {
    background-color: #21242c;
}

.cat-selected {
    color: #cccccc;
    background-color: #4d5466;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cat-not-selected {
    color: dimgray;
    background-color: #2c303a;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

table {
    margin: 0 auto auto auto;
    padding: 5px;
    color: dimgrey;
    text-align: left;
    border-collapse: collapse;
    width: 97%;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    color: #cccccc;
}

th {
    padding: 10px 0;
    color: #808080;
}

th, td {
    border-bottom: 1px solid #16181d;
}

td {
    padding: 5px 0;
}

/* CSS for Transport.js */

.transport-bar {
    background-color: #282c34;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.transport {
    margin: auto;
    height: 100%;
    display: flex;
}

.display {
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto;
    width: 28rem;
    height: 80%;
    background: black;
    color: #d6d6c2;
    display: flex;
    justify-content: space-evenly;
}

.display-divider {
    width: 2px;
    background: #282c34;
}

.display-part {
    display: flex;
    margin: auto;
    width: 33%;
}

.bpm-heading {
    color: dimgrey;
    margin: auto;
}

.bpm {
    margin: auto auto auto 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 30%;
    color: #4e5565;
}

.swing-heading {
    color: dimgrey;
    margin: auto;
}

.percent-char {
    color: dimgrey;
    margin: auto auto auto 0;
}

.swing {
    margin: auto 0 auto 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 25%;
    color: #4e5565;
}

.position {
    margin: auto auto auto auto;
    color: #4e5565;
    font-size: 1.5rem;
}

.toggle-play {
    margin: auto auto auto 5px;
    color: black;
    height: 80%;
    width: 3.5rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
}

.playing {
    background: #66ff66; /*#4dff4d;*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset #001a00 0 -1px 9px, rgba(102, 255, 102, 0.2) 0 2px 14px;
}

.playing:active {
    background: #00cc00;
    box-shadow: inset #001a00 0 -1px 9px, rgba(102, 255, 102, 0.2) 0 2px 14px;
}

.stopped {
    background: #8cb3d9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset #006 0 -1px 9px, rgba(63, 140, 255, 0.2) 0 2px 14px;
}

.stopped:active {
    background: #538cc6;
    box-shadow: inset #006 0 -1px 9px, rgba(63, 140, 255, 0.2) 0 2px 14px;
}

.transport-buttons {
    /*margin: auto;*/
    display: flex;
    /*margin-left: 5px;*/
}

.transport-button {
    margin: auto 0 auto 15px;
    color: dimgray;
    background: #373c49;
    font-size: 1.2rem;
    padding: 3px 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.transport-button:active {
    background: #21242c;
    color: #4d4d4d;
    box-shadow: none;
}

/* UPLOAD SAMPLE MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .6;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    color: dimgray;
    background-color: #16181d;
    position: relative;
    margin: 10rem auto;
    border-radius: 10px;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 1);

}

.modal-header {
    text-align: center;
    Font-size: 1.5rem;
    font-weight: 500;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.modal-button {
    cursor: pointer;
    border: none;
    color: dimgray;
    background: #21242c;
    font-size: 1rem;
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    width: 6rem;
    margin-left: 2rem;
}

.modal-button:active {
    background: #0b0c0f;
    color: #4d4d4d;
}

.upload-file {
    margin: 1.5rem 0;
    /*display: flex;*/
    border: dashed #404040 2px;
    height: 6rem;
    border-radius: 5px;
}

.fileContainer {
    /*margin: auto;*/
    overflow: hidden;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

.upload-text {
    margin: auto;
}

.fileContainer [type=file] {
    height: 10rem;
    cursor: inherit;
    display: block;
    /*font-size: 999px;*/
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.upload-modal-inputs {
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
}

.category-chooser {
    display: block;
    margin: 10px 0;
    font-size: 1.2rem;
    padding: 5px;
    background-color: #0b0c0f;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #0b0c0f 25%, black 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    color: dimgray;
    border: none;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

}

.category-chooser::-ms-expand {
    display: none;
}

.name-input {
    display: block;
    padding: 5px 9px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 10px 0;
    border: none;
    background: linear-gradient(to bottom, #0b0c0f 25%, black 100%);
    color: dimgray;
}

.message {
    font-size: 1.2rem;
    height: 2rem;
    margin-top: 10px;
}

/* CSS for mixer section */

.mixer-strip-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: dimgrey;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    height: 96%;
    width: 4rem;
    /*margin: 5px 5px 10px 5px;*/
    margin: auto 5px;
}

.slider-container {
    /*width: 2rem;*/
}

.vol-slider {
    position: relative;
    /*bottom: -8rem;*/
    left: -45px;
    top: 4rem;
    transform: rotate(270deg);

    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    background: dimgray;
    height: 0.5rem;
}

.vol-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #66ff66; /* Green background */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset #001a00 0 -1px 5px, rgba(102, 255, 102, 0.2) 0 2px 8px;
    cursor: pointer; /* Cursor on hover */
}

.vol-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #66ff66; /* Green background */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset #001a00 0 -1px 5px, rgba(102, 255, 102, 0.2) 0 2px 8px;
    cursor: pointer; /* Cursor on hover */
}

.volume {
    margin: 7.8rem auto 0 auto;
}

.pan-container {
    display: flex;
    flex-direction: column;
}

.pan-knob {
    margin: 0.5rem auto auto auto;
    transform: rotate(180deg);
}

.pan {
    margin: 0.5rem auto 0;
    position: relative;
    top: 0;
}

.mix-strip-pad {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin: auto auto 0.4rem auto;
    border-radius: 5px;
    background: #8cb3d9;
    box-shadow: inset #006 0 -1px 9px, rgba(63, 140, 255, 0.2) 0 2px 14px;
    cursor: pointer;
}

.mix-strip-pad:active {
    background: #538cc6;
}


.mix-strip-number {
    margin: auto;
    font-size: 2rem;
    color: black;
}



