.sequencer {

}

/* CSS for Workstation.js*/

.container {
    background-color: black;
    height: 100vh;
}

.split-pane {
    display: flex;
    flex-direction: row;
}

.sample-browser-container {
    width: 33%;
}

.instrument-section {
    width: 67%;
    margin-top: 10px;
    margin-right: 5px;
}

/* CSS for Instrument.js */

.instrument-container {
    color: dimgrey;
    /*background-color: #282c34;*/
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: auto auto auto auto;
    height: 4rem;
    display: flex;
}

.instr-header {
    display: flex;
    padding: 10px;
}

.trigger-button {
    display: flex;
    width: 3rem;
    border-radius: 5px;
    background: #8cb3d9;
}

.trigger-button:active {
    background: #538cc6;
    box-shadow: none;
}

.instr-number {
    margin: auto;
    font-size: 2rem;
    color: black;
}

.instr-name {
    width: 6rem;
    margin: auto auto auto 5px;
    background: none;
    border: none;
    font-size: 1rem;
    color: #4e5565;
}

.steps {
    display: flex;
    width: 100%;
}

.step {
    width: 6%;
    border-style: solid;
    border-width: 3px;
    /*background-color: #282c34;*/
    border-radius: 10px;
    margin: 5px;
    display: flex;
}

.led-on {
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.led-off {
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: #008599;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0 -1px 7px 1px, inset #00161a 0 -1px 9px;
}

/* CSS for SampleBrowser.js */

.sample-browser-container {
    color: dimgrey;
}

/* CSS for Transport.js */

.transport-bar {
    background-color: #282c34;
    display: flex;
    height: 4rem;
}

.transport {
    margin: auto;
    height: 100%;
    display: flex;
}

.display {
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto;
    width: 28rem;
    height: 80%;
    background: black;
    color: #d6d6c2;
    display: flex;
    justify-content: space-evenly;
}

.display-divider {
    width: 2px;
    background: #282c34;
}

.display-part {
    display: flex;
    margin: auto;
    width: 33%;
}

.bpm-heading {
    color: dimgrey;
    margin: auto;
}

.bpm {
    margin: auto auto auto 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 30%;
    color: #4e5565;
}

.swing-heading {
    color: dimgrey;
    margin: auto;
}

.percent-char {
    color: dimgrey;
    margin: auto auto auto 0;
}

.swing {
    margin: auto 0 auto 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    width: 25%;
    color: #4e5565;
}

.position {
    margin: auto;
    color: #4e5565;
    font-size: 1.5rem;
}

.toggle-play {
    margin: auto auto auto 5px;
    color: black;
    background: #8cb3d9;
    height: 80%;
    width: 3.5rem;

    border-radius: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.toggle-play:active {
    background: #538cc6;
    box-shadow: none;
}